workflows/BadgeregistratieAlshetaanmeldformulierbezoekerisin-F2EC7BEA-A272-F011-B4CC-6045BDF36E69.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms-1": {
        "api": {
          "name": "shared_microsoftforms"
        },
        "connection": {
          "connectionReferenceLogicalName": "kva_sharedmicrosoftforms_d1986"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "kva_sharedoffice365_df920"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365-2": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "kva_sharedoffice365_2c147"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Wanneer_het_aanmeldformulier_bezoeker_is_ingevuld": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "form_id": "erjW2SrymUyNWiW6Rim4rKSKnjmkhz9Jkk9no9yfU31UQTRSWllGV09MVDJRQ1RDS0wyNUpMTDZNSiQlQCN0PWcu"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "operationId": "CreateFormWebhook",
              "connectionName": "shared_microsoftforms-1"
            }
          },
          "splitOn": "@triggerOutputs()?['body/value']"
        }
      },
      "actions": {
        "Haal_formulier_resultaten_op": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "form_id": "erjW2SrymUyNWiW6Rim4rKSKnjmkhz9Jkk9no9yfU31UQTRSWllGV09MVDJRQ1RDS0wyNUpMTDZNSiQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "operationId": "GetFormResponseById",
              "connectionName": "shared_microsoftforms-1"
            }
          },
          "runAfter": {
            "DEBUG:_Capture_raw_body_of_form_data": [
              "Succeeded"
            ]
          }
        },
        "Stuur_een_e-mail_indien_er_een_fout_is_opgetreden_tijdens_het_proces": {
          "type": "OpenApiConnection",
          "description": "Send email to mmeurs@kuijpers.com when there is a failing action in the chain",
          "inputs": {
            "parameters": {
              "emailMessage/To": "mmeurs@kuijpers.com",
              "emailMessage/Subject": "⚠️ Actie vereist: Fout bij aanmelden bezoeker | @{convertFromUtc(utcNow(), 'W. Europe Standard Time', 'dd-MM-yyyy HH:mm')}",
              "emailMessage/Body": "\n\n\n    <meta>\n    <meta>\n    <!-- Titel geüpdatet naar de specifieke foutmelding -->\n    <title>⚠️ Actie vereist: Fout bij aanmelden bezoeker</title>\n    <style>\n        /* Reset styles voor betere compatibiliteit in e-mail clients */\n        body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }\n        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n        img { -ms-interpolation-mode: bicubic; }\n        \n        /* Basis font instellingen (Fluent UI font stack) */\n        body { \n            height: 100% !important; \n            margin: 0 !important; \n            padding: 0 !important; \n            width: 100% !important;\n            font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;\n        }\n    </style>\n\n\n\n    <!-- Hoofdcontainer wrapper -->\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f3f2f1; padding: 40px 20px;\">\n        <tbody><tr>\n            <td>\n                \n                <!-- De Kaart (Card) -->\n                <!-- Max-width 600px is standaard voor e-mails -->\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; background-color: #ffffff; border-radius: 4px; box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.132), 0 0.3px 0.9px 0 rgba(0,0,0,0.108); overflow: hidden;\">\n                    \n                    <!-- Rode Accent Balk (Error State) -->\n                    <tbody><tr>\n                        <td style=\"background-color: #d13438; height: 4px; font-size: 0; line-height: 0;\">&nbsp;</td>\n                    </tr>\n\n                    <!-- Inhoud van de kaart -->\n                    <tr>\n                        <td style=\"padding: 32px 24px;\">\n                            \n                            <!-- Titel: Nu inclusief de volledige subjectregel en tijdstempel -->\n                            <h1 style=\"margin: 0 0 16px 0; font-size: 20px; font-weight: 600; color: #d13438; font-family: 'Segoe UI Semibold', 'Segoe UI', Helvetica, Arial, sans-serif;\">\n                                ⚠️ Actie vereist: Fout bij aanmelden bezoeker | @{convertFromUtc(utcNow(), 'W. Europe Standard Time', 'dd-MM-yyyy HH:mm')}\n                            </h1>\n\n                            <!-- Paragraaf 1 -->\n                            <p style=\"margin: 0 0 12px 0; font-size: 14px; line-height: 20px; color: #201f1e;\">\n                                Ik wil u attenderen dat uw Power Automate proces om een bezoeker aan te melden <strong>niet succesvol is verlopen</strong> en uw aandacht nodig heeft.\n                            </p>\n\n                            <!-- Paragraaf 2 -->\n                            <p style=\"margin: 0 0 24px 0; font-size: 14px; line-height: 20px; color: #201f1e;\">\n                                Kijk voor meer details in het bijgevoegde logbestand.\n                            </p>\n\n                            <!-- Button Area -->\n                            <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-bottom: 24px;\">\n                                <tbody><tr>\n                                    <td style=\"border-radius: 4px;\">\n                                        <!-- Let op: De href bevat Power Automate variabelen. In deze preview werkt de link niet, maar in de flow wel. -->\n                                        <a href=\"https://make.powerautomate.com/manage/environments/@{workflow()?['environmentName']}/flows/@{workflow()?['name']}/details\" style=\"font-size: 14px; font-family: 'Segoe UI Semibold', 'Segoe UI', Helvetica, Arial, sans-serif; font-weight: 600; color: #ffffff; text-decoration: none; padding: 10px 20px; display: inline-block; border: 1px solid #0078d4; border-radius: 4px;\">\n                                           Klik hier om de flow te bekijken\n                                        </a>\n                                    </td>\n                                </tr>\n                            </tbody></table>\n\n                            <!-- Scheidingslijn -->\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                <tbody><tr>\n                                    <td style=\"border-top: 1px solid #edebe9; padding-top: 20px;\">\n                                        <!-- Afzender -->\n                                        <p style=\"margin: 0; font-size: 12px; line-height: 16px; color: #605e5c;\">\n                                            Met vriendelijke groet,<br>\n                                            <strong style=\"color: #323130;\">Automatisering KVA 🤖</strong>\n                                        </p>\n                                    </td>\n                                </tr>\n                            </tbody></table>\n\n                        </td>\n                    </tr>\n                </tbody></table>\n\n                <!-- Footer Disclaimer -->\n                <p style=\"margin-top: 20px; font-size: 11px; color: #605e5c; text-align: center;\">\n                    Dit bericht is automatisch gegenereerd. Antwoorden op deze e-mail worden niet gelezen.\n                </p>\n\n            </td>\n        </tr>\n    </tbody></table>\n\n\n",
              "emailMessage/From": "klantteamASML@kuijpers.com",
              "emailMessage/Attachments": [
                {
                  "Name": "pa_error.log",
                  "ContentBytes": "@json(coalesce(outputs('Compose_debugMessage'),'[\"Message\":\"Debug Message Empty! Check flow directly\"]'))"
                }
              ],
              "emailMessage/Importance": "High"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "SendEmailV2",
              "connectionName": "shared_office365"
            }
          },
          "runAfter": {
            "Compose_debugMessage": [
              "Succeeded",
              "Failed"
            ]
          }
        },
        "Compose_debugMessage": {
          "type": "Compose",
          "inputs": "@coalesce(triggerOutputs(),outputs('Haal_formulier_resultaten_op'),outputs('Stuur_een_mail_om_de_bezoeker_aan_te_melden'))",
          "runAfter": {
            "Compose_HTML_code_for_mail_attachment": [
              "Failed",
              "TimedOut",
              "Skipped"
            ],
            "DEBUG:_Capture_raw_body_data_of_action_\"Haal_formulier_resultaten_op\"": [
              "Failed",
              "TimedOut",
              "Skipped"
            ],
            "Terminate_🟢": [
              "Succeeded"
            ]
          }
        },
        "Stuur_een_mail_om_de_bezoeker_aan_te_melden": {
          "type": "OpenApiConnection",
          "description": "If empty send error mail to mmeurs@kuijpers.com otherwise send email to asmlpasaanvraag@kuijpers.com",
          "inputs": {
            "parameters": {
              "emailMessage/To": "@if(empty(outputs('Compose_Mapped_Data')?['VisitorEmail']), 'mmeurs@kuijpers.com', 'asmlpasaanvraag@kuijpers.com')",
              "emailMessage/Subject": "@if(empty(outputs('Compose_Mapped_Data')?['VisitorEmail']), '🤖Fout: Bezoekersaanmelding Kuijpers ⚠️', 'Bezoekersaanmelding Kuijpers')",
              "emailMessage/Body": "<p class=\"editor-paragraph\">@{outputs('Compose_HTML_code_for_mail_body')}</p>",
              "emailMessage/From": "asmlpasaanvraag@kuijpers.com",
              "emailMessage/Attachments": [
                {
                  "Name": "Planon_Registratie_Tool.html",
                  "ContentBytes": "@base64(outputs('Compose_HTML_code_for_mail_attachment'))"
                }
              ],
              "emailMessage/ReplyTo": "@outputs('Compose_Mapped_Data')?['VisitorEmail']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "SendEmailV2",
              "connectionName": "shared_office365-2"
            }
          },
          "runAfter": {
            "Compose_HTML_code_for_mail_attachment": [
              "Succeeded"
            ]
          }
        },
        "Compose_HTML_code_for_mail_attachment": {
          "type": "Compose",
          "inputs": "\n<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Planon Registratie Tool</title>\n\n  <style>\n    /* Fluent UI Base Styles */\n    body {\n      font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;\n      background-color: #f3f2f1;\n      margin: 0;\n      padding: 40px 20px;\n      color: #201f1e;\n    }\n\n    .card {\n      background-color: #ffffff;\n      max-width: 700px;\n      margin: 0 auto;\n      border-radius: 8px;\n      box-shadow: 0 1.6px 3.6px rgba(0,0,0,0.13);\n      overflow: hidden;\n    }\n\n    .header-row {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      padding: 20px 28px;\n      border-bottom: 1px solid #edebe9;\n      gap: 12px;\n    }\n\n    .header-title {\n      font-size: 16px;\n      font-weight: 600;\n      color: #605e5c;\n      text-align: center;\n      flex: 1;\n      min-width: 0;\n    }\n\n    .content { padding: 28px; }\n\n    h1 {\n      margin-top: 0;\n      font-size: 20px;\n      color: #0078d4;\n      font-weight: 700;\n      margin-bottom: 12px;\n    }\n\n    /* Top actions row */\n    .top-actions {\n      display: flex;\n      align-items: center;\n      gap: 10px;\n      margin: 10px 0 18px 0;\n      flex-wrap: wrap;\n    }\n\n    .copyall-btn {\n      background-color: #ffffff;\n      border: 1px solid #8a8886;\n      border-radius: 6px;\n      padding: 8px 12px;\n      font-size: 13px;\n      font-family: 'Segoe UI', sans-serif;\n      font-weight: 700;\n      color: #323130;\n      cursor: pointer;\n      display: inline-flex;\n      align-items: center;\n      transition: background-color 0.12s, border-color 0.12s, transform 0.06s, box-shadow 0.12s, color 0.12s;\n      user-select: none;\n    }\n\n    .copyall-btn:hover { background-color: #f3f2f1; border-color: #323130; }\n    .copyall-btn:active { background-color: #edebe9; transform: translateY(1px); }\n\n    .copyall-btn .btn-icon { display:inline-flex; align-items:center; margin-right:8px; }\n    .copyall-btn svg { width: 16px; height: 16px; fill: #323130; }\n\n    /* Inline micro feedback chip */\n    .hint {\n      display: inline-flex;\n      align-items: center;\n      gap: 6px;\n      padding: 6px 10px;\n      border-radius: 999px;\n      background: #f6fff8;\n      border: 1px solid #9fd6ac;\n      color: #107c10;\n      font-size: 12px;\n      font-weight: 700;\n      opacity: 0;\n      transform: translateY(-2px);\n      pointer-events: none;\n      transition: opacity .15s ease, transform .15s ease;\n      white-space: nowrap;\n    }\n\n    .hint.show {\n      opacity: 1;\n      transform: translateY(0);\n    }\n\n    .hint svg { width: 14px; height: 14px; fill: #107c10; }\n\n    /* Info bar */\n    .info-bar {\n      background-color: #f0f6ff;\n      border: 1px solid #c7e0f4;\n      border-left: 4px solid #0078d4;\n      padding: 12px 16px;\n      border-radius: 4px;\n      margin-bottom: 18px;\n      color: #005a9e;\n      font-size: 13px;\n      display: flex;\n      align-items: center;\n      gap: 10px;\n    }\n\n    .icon-svg {\n      display: inline-block;\n      vertical-align: middle;\n      width: 18px;\n      height: 18px;\n      flex: 0 0 auto;\n    }\n\n    .section-header {\n      font-size: 12px;\n      font-weight: 800;\n      color: #005a9e;\n      text-transform: uppercase;\n      margin: 18px 0 8px 0;\n      display: flex;\n      align-items: center;\n      gap: 8px;\n    }\n\n    .data-table {\n      width: 100%;\n      border-collapse: collapse;\n      border: 1px solid #c8c6c4;\n      border-radius: 4px;\n      margin-bottom: 18px;\n      border-style: hidden;\n      box-shadow: 0 0 0 1px #c8c6c4;\n      overflow: hidden;\n    }\n\n    .data-table tr { border-bottom: 1px solid #e1dfdd; }\n    .data-table tr:last-child { border-bottom: none; }\n\n    .label-col {\n      width: 35%;\n      padding: 10px 14px;\n      background-color: #ffffff;\n      vertical-align: top;\n    }\n\n    .label-en { display: block; font-weight: 700; color: #201f1e; font-size: 13px; }\n    .label-nl { font-size: 11px; color: #605e5c; font-weight: 500; }\n\n    .value-col {\n      width: 65%;\n      padding: 8px 12px;\n      background-color: #faf9f8;\n      vertical-align: middle;\n    }\n\n    /* Better formatting for long values */\n    .value-wrapper {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      width: 100%;\n      gap: 10px;\n      min-width: 0; /* important for wrapping in flex */\n    }\n\n    .val {\n      font-family: 'Consolas', 'Monaco', monospace;\n      font-size: 13px;\n      font-weight: 700;\n      color: #323130;\n      overflow-wrap: anywhere;\n      word-break: break-word;\n      flex: 1 1 auto;\n      min-width: 0;\n      outline: none;\n      border-radius: 4px;\n      padding: 2px 4px;\n    }\n\n    /* Let user focus the value and press Enter/Space to copy */\n    .val:focus-visible {\n      outline: 2px solid #0078d4;\n      outline-offset: 2px;\n      background: #ffffff;\n    }\n\n    /* Copy button */\n    .copy-btn {\n      background-color: #ffffff;\n      border: 1px solid #8a8886;\n      border-radius: 6px;\n      padding: 6px 10px;\n      font-size: 12px;\n      font-family: 'Segoe UI', sans-serif;\n      font-weight: 700;\n      color: #323130;\n      cursor: pointer;\n      display: inline-flex;\n      align-items: center;\n      transition: background-color 0.12s, border-color 0.12s, transform 0.06s, box-shadow 0.12s, color 0.12s;\n      flex: 0 0 auto;\n      white-space: nowrap;\n      user-select: none;\n    }\n\n    .copy-btn:hover { background-color: #f3f2f1; border-color: #323130; }\n    .copy-btn:active { background-color: #edebe9; transform: translateY(1px); }\n\n    /* Keyboard focus state */\n    .copy-btn:focus-visible,\n    .copyall-btn:focus-visible {\n      outline: 3px solid rgba(0,120,212,0.35);\n      outline-offset: 2px;\n      box-shadow: 0 0 0 3px rgba(0,120,212,0.15);\n    }\n\n    .copy-btn .btn-icon { display:inline-flex; align-items:center; margin-right:6px; }\n    .copy-btn svg { width: 14px; height: 14px; fill: #323130; }\n\n    /* ✅ Success state: green checkmark + subtle green tint */\n    .copy-btn.is-copied,\n    .copyall-btn.is-copied {\n      border-color: #107c10;\n      color: #107c10;\n      background-color: #f6fff8;\n    }\n    .copy-btn.is-copied svg,\n    .copyall-btn.is-copied svg { fill: #107c10; }\n\n    /* ✨ Glow pulse on click */\n    .copy-btn.is-glow,\n    .copyall-btn.is-glow {\n      animation: copyGlow 520ms ease-out;\n    }\n    @keyframes copyGlow {\n      0%   { box-shadow: 0 0 0 0 rgba(16,124,16,0.00); }\n      25%  { box-shadow: 0 0 0 6px rgba(16,124,16,0.18); }\n      60%  { box-shadow: 0 0 0 10px rgba(16,124,16,0.10); }\n      100% { box-shadow: 0 0 0 0 rgba(16,124,16,0.00); }\n    }\n\n    /* Row-level micro feedback (inline) */\n    .row-hint {\n      display: inline-flex;\n      align-items: center;\n      gap: 6px;\n      padding: 5px 8px;\n      border-radius: 999px;\n      background: #f6fff8;\n      border: 1px solid #9fd6ac;\n      color: #107c10;\n      font-size: 11px;\n      font-weight: 800;\n      opacity: 0;\n      transform: translateY(-2px);\n      pointer-events: none;\n      transition: opacity .15s ease, transform .15s ease;\n      white-space: nowrap;\n    }\n    .row-hint.show { opacity: 1; transform: translateY(0); }\n    .row-hint svg { width: 12px; height: 12px; fill: #107c10; }\n\n    /* Small screen tweaks */\n    @media (max-width: 760px) {\n      body { padding: 20px 10px; }\n      .header-row, .content { padding-left: 16px; padding-right: 16px; }\n      .label-col { width: 45%; }\n      .value-col { width: 55%; }\n      .value-wrapper { flex-wrap: wrap; align-items: flex-start; }\n      .copy-btn { margin-top: 4px; }\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n    <div class=\"header-row\">\n      <img src=\"https://www.kuijpers.nl/wp-content/themes/kuijpers/assets/images/logo.svg\" alt=\"Kuijpers\" width=\"120\">\n      <span class=\"header-title\">Bezoekersregistratie</span>\n      <img src=\"https://planonsoftware.com/upload_mm/7/e/1/4975_fullimage_planon-blue-tagline.svg\" alt=\"Planon\" width=\"100\">\n    </div>\n\n    <div class=\"content\">\n      <h1>Planon Registratie Tool</h1>\n\n      <!-- Top action bar -->\n      <div class=\"top-actions\">\n        <button id=\"copyAllBtn\" class=\"copyall-btn\" type=\"button\">\n          <span class=\"btn-icon\" aria-hidden=\"true\"></span>\n          <span class=\"btn-text\">Kopieer alles</span>\n        </button>\n\n        <span id=\"copyAllHint\" class=\"hint\" aria-live=\"polite\" aria-atomic=\"true\">\n          <svg aria-hidden=\"true\" viewBox=\"0 0 16 16\"><path d=\"M6.2 11.1 3.3 8.2a.9.9 0 0 1 1.3-1.3l1.6 1.6 5-5a.9.9 0 1 1 1.3 1.3l-6.3 6.3a.9.9 0 0 1-1.3 0z\"/></svg>\n          Gekopieerd\n        </span>\n      </div>\n\n      <div class=\"info-bar\">\n        <svg class=\"icon-svg\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" style=\"fill: #005a9e;\">\n          <path d=\"m17.994,2.286C16.086.581,13.522-.231,10.956.059,6.904.517,3.59,3.782,3.075,7.822c-.374,2.931.644,5.76,2.793,7.761,1.375,1.279,2.132,2.9,2.132,4.566v.161c0,2.035,1.655,3.69,3.69,3.69h.619c2.035,0,3.69-1.655,3.69-3.69v-.549c0-1.486.687-2.906,1.932-3.998,1.95-1.708,3.068-4.173,3.068-6.763,0-2.56-1.096-5.007-3.006-6.714Z\"/>\n        </svg>\n        <span><strong>Instructie:</strong> Klik op “Kopiëren” of druk op Enter op een waarde. (Sneltoets: Ctrl+Shift+C = alles kopiëren)</span>\n      </div>\n\n      <!-- SECTION: BEZOEKER -->\n      <div class=\"section-header\">\n        <svg class=\"icon-svg\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" style=\"fill: #005a9e;\">\n          <path d=\"M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Z\"/>\n        </svg>\n        BEZOEKER\n      </div>\n\n      <table class=\"data-table\" data-section=\"Bezoeker\">\n        <tr>\n          <td class=\"label-col\">\n            <span class=\"label-en\">Visitor Name</span>\n            <span class=\"label-nl\">Naam bezoeker</span>\n          </td>\n          <td class=\"value-col\">\n            <div class=\"value-wrapper\">\n              <span class=\"val\" tabindex=\"0\">@{outputs('Compose_Mapped_Data')?['VisitorName']}</span>\n\n              <button class=\"copy-btn\" type=\"button\" data-copy=\"row\">\n                <span class=\"btn-icon\" aria-hidden=\"true\"></span>\n                <span class=\"btn-text\">Kopiëren</span>\n              </button>\n\n              <span class=\"row-hint\" aria-hidden=\"true\">\n                <svg viewBox=\"0 0 16 16\"><path d=\"M6.2 11.1 3.3 8.2a.9.9 0 0 1 1.3-1.3l1.6 1.6 5-5a.9.9 0 1 1 1.3 1.3l-6.3 6.3a.9.9 0 0 1-1.3 0z\"/></svg>\n                Gekopieerd\n              </span>\n            </div>\n          </td>\n        </tr>\n\n        <tr>\n          <td class=\"label-col\">\n            <span class=\"label-en\">Visitor Email</span>\n            <span class=\"label-nl\">E-mailadres</span>\n          </td>\n          <td class=\"value-col\">\n            <div class=\"value-wrapper\">\n              <span class=\"val\" tabindex=\"0\">@{outputs('Compose_Mapped_Data')?['VisitorEmail']}</span>\n\n              <button class=\"copy-btn\" type=\"button\" data-copy=\"row\">\n                <span class=\"btn-icon\" aria-hidden=\"true\"></span>\n                <span class=\"btn-text\">Kopiëren</span>\n              </button>\n\n              <span class=\"row-hint\" aria-hidden=\"true\">\n                <svg viewBox=\"0 0 16 16\"><path d=\"M6.2 11.1 3.3 8.2a.9.9 0 0 1 1.3-1.3l1.6 1.6 5-5a.9.9 0 1 1 1.3 1.3l-6.3 6.3a.9.9 0 0 1-1.3 0z\"/></svg>\n                Gekopieerd\n              </span>\n            </div>\n          </td>\n        </tr>\n      </table>\n\n      <!-- HOST SECTION (kept with your display logic) -->\n      <div style=\"display: @{outputs('Compose_Mapped_Data')?['HostDisplayLogic']}\">\n        <div class=\"section-header\">\n          <svg class=\"icon-svg\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" style=\"fill: #005a9e;\">\n            <path d=\"M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12Z\"/>\n          </svg>\n          HOST / BEGELEIDER\n        </div>\n\n        <table class=\"data-table\" data-section=\"Host\">\n          <tr>\n            <td class=\"label-col\"><span class=\"label-en\">Host Name</span><span class=\"label-nl\">Naam host</span></td>\n            <td class=\"value-col\">\n              <div class=\"value-wrapper\">\n                <span class=\"val\" tabindex=\"0\">@{outputs('Compose_Mapped_Data')?['HostName']}</span>\n                <button class=\"copy-btn\" type=\"button\" data-copy=\"row\"><span class=\"btn-icon\" aria-hidden=\"true\"></span><span class=\"btn-text\">Kopiëren</span></button>\n                <span class=\"row-hint\" aria-hidden=\"true\"><svg viewBox=\"0 0 16 16\"><path d=\"M6.2 11.1 3.3 8.2a.9.9 0 0 1 1.3-1.3l1.6 1.6 5-5a.9.9 0 1 1 1.3 1.3l-6.3 6.3a.9.9 0 0 1-1.3 0z\"/></svg>Gekopieerd</span>\n              </div>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"label-col\"><span class=\"label-en\">Host Email</span><span class=\"label-nl\">E-mail host</span></td>\n            <td class=\"value-col\">\n              <div class=\"value-wrapper\">\n                <span class=\"val\" tabindex=\"0\">@{outputs('Compose_Mapped_Data')?['HostEmail']}</span>\n                <button class=\"copy-btn\" type=\"button\" data-copy=\"row\"><span class=\"btn-icon\" aria-hidden=\"true\"></span><span class=\"btn-text\">Kopiëren</span></button>\n                <span class=\"row-hint\" aria-hidden=\"true\"><svg viewBox=\"0 0 16 16\"><path d=\"M6.2 11.1 3.3 8.2a.9.9 0 0 1 1.3-1.3l1.6 1.6 5-5a.9.9 0 1 1 1.3 1.3l-6.3 6.3a.9.9 0 0 1-1.3 0z\"/></svg>Gekopieerd</span>\n              </div>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"label-col\"><span class=\"label-en\">Host Phone</span><span class=\"label-nl\">Tel. host</span></td>\n            <td class=\"value-col\">\n              <div class=\"value-wrapper\">\n                <span class=\"val\" tabindex=\"0\">@{outputs('Compose_Mapped_Data')?['HostPhone']}</span>\n                <button class=\"copy-btn\" type=\"button\" data-copy=\"row\"><span class=\"btn-icon\" aria-hidden=\"true\"></span><span class=\"btn-text\">Kopiëren</span></button>\n                <span class=\"row-hint\" aria-hidden=\"true\"><svg viewBox=\"0 0 16 16\"><path d=\"M6.2 11.1 3.3 8.2a.9.9 0 0 1 1.3-1.3l1.6 1.6 5-5a.9.9 0 1 1 1.3 1.3l-6.3 6.3a.9.9 0 0 1-1.3 0z\"/></svg>Gekopieerd</span>\n              </div>\n            </td>\n          </tr>\n        </table>\n      </div>\n\n      <!-- Footer -->\n      <div class=\"footer\">\n        <a href=\"mailto:asmlpasaanvraag@kuijpers.com\">asmlpasaanvraag@kuijpers.com</a> |\n        <a href=\"https://www.kuijpers.nl\">www.kuijpers.nl</a>\n      </div>\n\n    </div>\n  </div>\n\n  <script>\n    // Icons (lightweight SVG; \"Fluent-ish\")\n    const ICON_COPY_16 = `\n      <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\">\n        <path d=\"M8 7a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-9a2 2 0 0 1-2-2V7Zm2 0v9h9V7h-9Z\"/>\n        <path d=\"M4 3a2 2 0 0 1 2-2h9v2H6v9H4V3Z\"/>\n      </svg>\n    `;\n\n    const ICON_CHECK_16 = `\n      <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\">\n        <path d=\"M9.2 16.6 4.9 12.3a1 1 0 0 1 1.4-1.4l2.9 2.9 8.5-8.5a1 1 0 1 1 1.4 1.4l-9.9 9.9a1 1 0 0 1-1.4 0z\"/>\n      </svg>\n    `;\n\n    function flashHint(el, ms = 1200) {\n      if (!el) return;\n      el.classList.add('show');\n      window.clearTimeout(el._t);\n      el._t = window.setTimeout(() => el.classList.remove('show'), ms);\n    }\n\n    // Clipboard fallback for file:// or restricted contexts\n    function fallbackCopy(text) {\n      const ta = document.createElement('textarea');\n      ta.value = text;\n      ta.setAttribute('readonly', '');\n      ta.style.position = 'fixed';\n      ta.style.top = '-1000px';\n      ta.style.left = '-1000px';\n      document.body.appendChild(ta);\n      ta.select();\n      let ok = false;\n      try { ok = document.execCommand('copy'); } catch (e) { ok = false; }\n      document.body.removeChild(ta);\n      return ok;\n    }\n\n    async function copyText(text) {\n      if (navigator.clipboard && window.isSecureContext) {\n        await navigator.clipboard.writeText(text);\n        return true;\n      }\n      return fallbackCopy(text);\n    }\n\n    function glow(el) {\n      el.classList.remove('is-glow');\n      void el.offsetWidth;\n      el.classList.add('is-glow');\n    }\n\n    function setButtonIcon(btn, svg) {\n      const icon = btn.querySelector('.btn-icon');\n      if (icon) icon.innerHTML = svg;\n    }\n\n    function setButtonText(btn, txt) {\n      const t = btn.querySelector('.btn-text');\n      if (t) t.textContent = txt;\n    }\n\n    async function handleRowCopy(btn) {\n      glow(btn);\n\n      const wrapper = btn.closest('.value-wrapper');\n      const valEl = wrapper.querySelector('.val');\n      const hintEl = wrapper.querySelector('.row-hint');\n      const text = (valEl.innerText || valEl.textContent || '').trim();\n\n      const ok = await copyText(text);\n\n      if (ok) {\n        btn.classList.add('is-copied');\n        setButtonIcon(btn, ICON_CHECK_16);\n        setButtonText(btn, 'Gekopieerd');\n        flashHint(hintEl);\n\n        window.setTimeout(() => {\n          btn.classList.remove('is-copied');\n          setButtonIcon(btn, ICON_COPY_16);\n          setButtonText(btn, 'Kopiëren');\n        }, 1400);\n      } else {\n        alert('Kopiëren mislukt. Selecteer de tekst handmatig (Ctrl+C).');\n      }\n    }\n\n    function buildAllFieldsText() {\n      const lines = [];\n      const tables = document.querySelectorAll('.data-table');\n\n      tables.forEach(tbl => {\n        // Skip hidden sections (e.g., Host when display:none)\n        const hostContainer = tbl.closest('[style*=\"display:\"]');\n        if (hostContainer && getComputedStyle(hostContainer).display === 'none') return;\n\n        const rows = tbl.querySelectorAll('tr');\n        rows.forEach(row => {\n          const labelCol = row.querySelector('.label-col');\n          const valueEl = row.querySelector('.val');\n          if (!labelCol || !valueEl) return;\n\n          const en = (labelCol.querySelector('.label-en')?.textContent || '').trim();\n          const nl = (labelCol.querySelector('.label-nl')?.textContent || '').trim();\n          const val = (valueEl.innerText || valueEl.textContent || '').trim();\n\n          const label = nl ? `${en} (${nl})` : en;\n          lines.push(`${label}: ${val}`);\n        });\n      });\n\n      return lines.join('\\n');\n    }\n\n    async function handleCopyAll() {\n      const btn = document.getElementById('copyAllBtn');\n      const hint = document.getElementById('copyAllHint');\n\n      glow(btn);\n\n      const text = buildAllFieldsText();\n      const ok = await copyText(text);\n\n      if (ok) {\n        btn.classList.add('is-copied');\n        setButtonIcon(btn, ICON_CHECK_16);\n        setButtonText(btn, 'Gekopieerd');\n        flashHint(hint);\n\n        window.setTimeout(() => {\n          btn.classList.remove('is-copied');\n          setButtonIcon(btn, ICON_COPY_16);\n          setButtonText(btn, 'Kopieer alles');\n        }, 1400);\n      } else {\n        alert('Kopiëren mislukt. Selecteer handmatig (Ctrl+C).');\n      }\n    }\n\n    // Init icons + bind events\n    function init() {\n      // Set icons on all copy buttons\n      document.querySelectorAll('.copy-btn').forEach(btn => {\n        setButtonIcon(btn, ICON_COPY_16);\n        btn.addEventListener('click', () => handleRowCopy(btn));\n      });\n\n      // Copy-all button icon + event\n      const copyAllBtn = document.getElementById('copyAllBtn');\n      setButtonIcon(copyAllBtn, ICON_COPY_16);\n      copyAllBtn.addEventListener('click', handleCopyAll);\n\n      // Keyboard: press Enter/Space on a value => copy its row\n      document.querySelectorAll('.val').forEach(val => {\n        val.addEventListener('keydown', (e) => {\n          if (e.key === 'Enter' || e.key === ' ') {\n            e.preventDefault();\n            const btn = val.closest('.value-wrapper')?.querySelector('.copy-btn');\n            if (btn) handleRowCopy(btn);\n          }\n        });\n      });\n\n      // Power-user shortcut: Ctrl+Shift+C => copy all\n      document.addEventListener('keydown', (e) => {\n        if (e.ctrlKey && e.shiftKey && (e.key === 'C' || e.key === 'c')) {\n          e.preventDefault();\n          handleCopyAll();\n        }\n      });\n    }\n\n    init();\n  </script>\n</body>\n</html>\n",
          "runAfter": {
            "Compose_HTML_code_for_mail_body": [
              "Succeeded"
            ]
          }
        },
        "DEBUG:_Capture_raw_body_of_form_data": {
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/resourceData']",
          "runAfter": {}
        },
        "DEBUG:_Capture_raw_body_data_of_action_\"Haal_formulier_resultaten_op\"": {
          "type": "Compose",
          "inputs": "@body('Haal_formulier_resultaten_op')",
          "runAfter": {
            "Haal_formulier_resultaten_op": [
              "Succeeded"
            ]
          }
        },
        "Compose_Mapped_Data": {
          "type": "Compose",
          "inputs": {
            "VisitorName": "@{outputs('Haal_formulier_resultaten_op')?['body/r63c481b2ec1f4a7ba86ecce0513e9d66']}",
            "VisitorEmail": "@{outputs('Haal_formulier_resultaten_op')?['body/rf7fd784c57624479810ce308b588968c']}",
            "HostName": "@{outputs('Haal_formulier_resultaten_op')?['body/r9f360b5babe6476380ecabcc790541ee']}",
            "HostEmail": "@{outputs('Haal_formulier_resultaten_op')?['body/r5ffc91e6092b49f3befe1f8db7009114']}",
            "HostPhone": "@{outputs('Haal_formulier_resultaten_op')?['body/ra01ada335182475ba6d5b0f7baacd5a7']}",
            "LicensePlate": "@{coalesce(outputs('Haal_formulier_resultaten_op')?['body/rb1657a9adbd14e31bd65eec89357eccb'], 'Onbekend')}",
            "VisitDate": "@{outputs('Haal_formulier_resultaten_op')?['body/rf89daaa0bacf42359fd0be70233d2e48']}",
            "Location": "@{outputs('Haal_formulier_resultaten_op')?['body/r90d953eaca6843d09bee8ad038d81ce9']}",
            "Reception": "@{coalesce(outputs('Haal_formulier_resultaten_op')?['body/r6f30643d1d334e73bc40d58bbce37df2'],outputs('Haal_formulier_resultaten_op')?['body/r20b11671e9df45d6b22d6db9f6114387'],outputs('Haal_formulier_resultaten_op')?['body/r14e4a905001b405fbae9b737a44b70aa'],outputs('Haal_formulier_resultaten_op')?['body/rf6db9a5a8bdb4db4a57fbf4ba2c4d1a2'],outputs('Haal_formulier_resultaten_op')?['body/rac864593e79646b8873bff3e4ec4b035'], 'Onbekend')}",
            "Comments": "@{coalesce(outputs('Haal_formulier_resultaten_op')?['body/r52b97d7ffc4b440e9aa0bac3344e63cf'], 'Geen')}",
            "ResponderEmail": "@{outputs('Haal_formulier_resultaten_op')?['body/responder']}",
            "SubmissionTime": "@{outputs('Haal_formulier_resultaten_op')?['body/submitDate']}",
            "ArrivalTime": "@{if(empty(outputs('Haal_formulier_resultaten_op')?['body/r8752941f2f4a4ce8bf6f4d4346ddd529']), 'Onbekend', first(split(outputs('Haal_formulier_resultaten_op')?['body/r8752941f2f4a4ce8bf6f4d4346ddd529'], ' - ')))}",
            "DepartureTime": "@{if(contains(outputs('Haal_formulier_resultaten_op')?['body/r8752941f2f4a4ce8bf6f4d4346ddd529'], ' - '), last(split(outputs('Haal_formulier_resultaten_op')?['body/r8752941f2f4a4ce8bf6f4d4346ddd529'], ' - ')), '16:30')}",
            "TransportMode": "@{if(equals(coalesce(outputs('Haal_formulier_resultaten_op')?['body/rb1657a9adbd14e31bd65eec89357eccb'], 'Onbekend'), 'Onbekend'), '06, Being dropped off', '01, Car')}",
            "HostDisplayLogic": "@{if(empty(outputs('Haal_formulier_resultaten_op')?['body/r9f360b5babe6476380ecabcc790541ee']), 'none', 'block')}"
          },
          "runAfter": {
            "Haal_formulier_resultaten_op": [
              "Succeeded"
            ]
          }
        },
        "Terminate_🟢": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Stuur_een_mail_om_de_bezoeker_aan_te_melden": [
              "Succeeded"
            ]
          }
        },
        "Terminate_🔴": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed",
            "runError": {
              "code": "404",
              "message": "Flow Failed"
            }
          },
          "runAfter": {
            "Stuur_een_e-mail_indien_er_een_fout_is_opgetreden_tijdens_het_proces": [
              "Succeeded",
              "Failed"
            ]
          }
        },
        "Compose_HTML_code_for_mail_body": {
          "type": "Compose",
          "inputs": "\n<!-- OUTLOOK-SAFE EMAIL BODY (tables + inline styles) -->\n<!-- Kuijpers action color: #19398A (brand blue) -->\n\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f3f2f1\" style=\"background-color:#f3f2f1;margin:0;padding:0;\">\n  <tr>\n    <td align=\"center\" style=\"padding:18px 10px 32px 10px;\">\n\n      <!-- Main container -->\n      <table role=\"presentation\" width=\"700\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n             style=\"width:700px;max-width:700px;background-color:#ffffff;border:1px solid #edebe9;border-radius:8px;overflow:hidden;box-shadow:0 1.6px 3.6px rgba(0,0,0,0.13);\">\n\n        <!-- HEADER -->\n        <tr>\n          <td style=\"border-bottom:1px solid #edebe9;\">\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n              <tr>\n                <!-- Kuijpers logo (PNG) -->\n                <td align=\"left\" valign=\"middle\" style=\"padding:16px 22px;width:33%;\">\n                  <img\n                    src=\"https://static.theaterspeelhuis.nl/cache/kuijpers_logo_rgb.1373/kuijpers_logo_rgb-s800x600.png\"\n                    alt=\"Kuijpers\"\n                    width=\"120\"\n                    style=\"display:block;border:0;outline:none;text-decoration:none;width:120px;height:auto;\" />\n                </td>\n\n                <!-- Title -->\n                <td align=\"center\" valign=\"middle\"\n                    style=\"padding:16px 22px;width:34%;font-family:'Segoe UI',Arial,sans-serif;font-size:16px;font-weight:600;color:#605e5c;\">\n                  Bezoekersregistratie\n                </td>\n\n                <!-- Planon logo (PNG) -->\n                <td align=\"right\" valign=\"middle\" style=\"padding:16px 22px;width:33%;\">\n                  <img\n                    src=\"https://info.planonsoftware.com/rs/441-ITY-232/images/N2992_logo_planonblue.png\"\n                    alt=\"Planon\"\n                    width=\"100\"\n                    style=\"display:block;border:0;outline:none;text-decoration:none;width:100px;height:auto;\" />\n                </td>\n              </tr>\n            </table>\n          </td>\n        </tr>\n\n        <!-- BODY -->\n        <tr>\n          <td style=\"padding:22px 22px 10px 22px;font-family:'Segoe UI',Arial,sans-serif;color:#201f1e;\">\n\n            <!-- Title -->\n            <h1 style=\"margin:0 0 12px 0;font-size:20px;line-height:26px;color:#19398A;font-weight:700;\">\n              Nieuwe aanmelding\n            </h1>\n\n            <!-- STEPS BLOCK (moved up, left-aligned, compact) -->\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 14px 0;\">\n\n              <!-- STAP 1 -->\n              <tr>\n                <!-- Vertical label -->\n                <td valign=\"top\" style=\"width:46px;background-color:#19398A;border-radius:4px 0 0 4px;text-align:center;padding:10px 0;\">\n                  <!-- Stacked letters = “vertical” (Outlook-safe) -->\n                  <div style=\"font-family:'Segoe UI',Arial,sans-serif;font-size:11px;line-height:12px;font-weight:800;color:#ffffff;letter-spacing:0.5px;\">\n                    S<br>T<br>A<br>P<br>&nbsp;<br>1\n                  </div>\n                </td>\n\n                <!-- Content -->\n                <td valign=\"middle\"\n                    style=\"background-color:#DAE3F8;border:1px solid #B6C7F2;border-left:0;border-radius:0 4px 4px 0;padding:12px 14px;\">\n                  <div style=\"font-size:12px;font-weight:800;color:#19398A;text-transform:uppercase;margin:0 0 8px 0;\">\n                    Open Planon om te registreren\n                  </div>\n\n                  <!-- Planon button (Kuijpers blue) -->\n                  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                      <td bgcolor=\"#19398A\" style=\"background-color:#19398A;border-radius:4px;text-align:center;\">\n                        <a href=\"https://asml-prod.planoncloud.com/case/PSSUK/VISVELDH001?18\"\n                           target=\"_blank\"\n                           style=\"display:inline-block;padding:10px 18px;font-family:'Segoe UI',Arial,sans-serif;font-size:13px;font-weight:800;color:#ffffff;text-decoration:none;border:1px solid #19398A;border-radius:4px;\">\n                          REGISTREREN IN PLANON\n                        </a>\n                      </td>\n                    </tr>\n                  </table>\n                </td>\n              </tr>\n\n              <!-- Spacer -->\n              <tr><td colspan=\"2\" style=\"height:10px;line-height:10px;font-size:10px;\">&nbsp;</td></tr>\n\n              <!-- STAP 2 -->\n              <tr>\n                <!-- Vertical label -->\n                <td valign=\"top\" style=\"width:46px;background-color:#19398A;border-radius:4px 0 0 4px;text-align:center;padding:10px 0;\">\n                  <div style=\"font-family:'Segoe UI',Arial,sans-serif;font-size:11px;line-height:12px;font-weight:800;color:#ffffff;letter-spacing:0.5px;\">\n                    S<br>T<br>A<br>P<br>&nbsp;<br>2\n                  </div>\n                </td>\n\n                <!-- Content -->\n                <td valign=\"middle\"\n                    style=\"background-color:#DAE3F8;border:1px solid #B6C7F2;border-left:0;border-radius:0 4px 4px 0;padding:12px 14px;\">\n                  <div style=\"font-size:12px;font-weight:800;color:#19398A;text-transform:uppercase;margin:0 0 8px 0;\">\n                    Informeer de aanvrager via e-mail\n                  </div>\n\n                  <!-- Buttons -->\n                  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                      <!-- Akkoord -->\n                      <td style=\"padding:0 8px 0 0;\">\n                        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                          <tr>\n                            <td bgcolor=\"#107c10\" style=\"background-color:#107c10;border-radius:4px;text-align:center;\">\n                              <a href=\"@{concat(\n                                    'mailto:',\n                                    encodeUriComponent(outputs('Compose_Mapped_Data')?['VisitorEmail']),\n                                    '?subject=',\n                                    encodeUriComponent(concat('Bezoekersaanmelding Verwerkt: ', outputs('Compose_Mapped_Data')?['VisitorName'])),\n                                    '&body=',\n                                    encodeUriComponent(concat(\n                                      'Beste ', outputs('Compose_Mapped_Data')?['VisitorName'], decodeUriComponent('%0D%0A%0D%0A'),\n                                      'Je bent zojuist aangemeld als bezoeker voor ', outputs('Compose_Mapped_Data')?['VisitDate'],\n                                      ' van ', outputs('Compose_Mapped_Data')?['ArrivalTime'], ' tot ', outputs('Compose_Mapped_Data')?['DepartureTime'], '.', decodeUriComponent('%0D%0A%0D%0A'),\n                                      'Met vriendelijke groet,', decodeUriComponent('%0D%0A'),\n                                      'Kuijpers Klantvestiging ASML', decodeUriComponent('%0D%0A%0D%0A'),\n                                      if(\n                                        or(empty(outputs('Compose_Mapped_Data')?['HostName']), empty(outputs('Compose_Mapped_Data')?['HostPhone'])),\n                                        '',\n                                        concat('Is de deur gesloten, graag bellen met ', outputs('Compose_Mapped_Data')?['HostName'], ' op ', outputs('Compose_Mapped_Data')?['HostPhone'], '.')\n                                      )\n                                    ))\n                                  )}\"\n                                 style=\"display:inline-block;padding:9px 14px;font-family:'Segoe UI',Arial,sans-serif;font-size:13px;font-weight:800;color:#ffffff;text-decoration:none;border:1px solid #107c10;border-radius:4px;\">\n                                AKKOORD\n                              </a>\n                            </td>\n                          </tr>\n                        </table>\n                      </td>\n\n                      <!-- Niet akkoord -->\n                      <td style=\"padding:0;\">\n                        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                          <tr>\n                            <td bgcolor=\"#d13438\" style=\"background-color:#d13438;border-radius:4px;text-align:center;\">\n                              <a href=\"@{concat(\n                                    'mailto:',\n                                    encodeUriComponent(outputs('Compose_Mapped_Data')?['VisitorEmail']),\n                                    '?subject=',\n                                    encodeUriComponent(concat('Bezoekersaanmelding Afgewezen: ', outputs('Compose_Mapped_Data')?['VisitorName'])),\n                                    '&body=',\n                                    encodeUriComponent(concat(\n                                      'Beste ', outputs('Compose_Mapped_Data')?['VisitorName'], decodeUriComponent('%0D%0A%0D%0A'),\n                                      'Hierbij geef ik aan dat uw bezoekersaanmelding helaas NIET akkoord is.', decodeUriComponent('%0D%0A%0D%0A'),\n                                      'Reden van afwijzing:', decodeUriComponent('%0D%0A'),\n                                      '[...Typ hier uw reden...]', decodeUriComponent('%0D%0A%0D%0A'),\n                                      'Met vriendelijke groet,', decodeUriComponent('%0D%0A'),\n                                      'Kuijpers Klantvestiging ASML'\n                                    ))\n                                  )}\"\n                                 style=\"display:inline-block;padding:9px 14px;font-family:'Segoe UI',Arial,sans-serif;font-size:13px;font-weight:800;color:#ffffff;text-decoration:none;border:1px solid #d13438;border-radius:4px;\">\n                                NIET AKKOORD\n                              </a>\n                            </td>\n                          </tr>\n                        </table>\n                      </td>\n\n                    </tr>\n                  </table>\n                </td>\n              </tr>\n            </table>\n\n            <!-- TIP (after steps) - accent aligned to Kuijpers blue -->\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 16px 0;\">\n              <tr>\n                <td bgcolor=\"#f0f6ff\"\n                    style=\"background-color:#f0f6ff;border:1px solid #c7e0f4;border-left:4px solid #19398A;padding:10px 12px;border-radius:4px;color:#19398A;font-size:13px;line-height:18px;\">\n                  <strong>Tip:</strong> Open de bijlage <strong>Planon_Registratie_Tool.html</strong> om gegevens direct te kopieren.\n                </td>\n              </tr>\n            </table>\n\n            <!-- SECTION: BEZOEKER -->\n            <div style=\"font-size:12px;font-weight:800;color:#19398A;text-transform:uppercase;margin:10px 0 8px 0;\">\n              Bezoeker\n            </div>\n\n            <!-- Visitor table (compact) -->\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                   style=\"border-collapse:separate;border-spacing:0;border:1px solid #c8c6c4;border-radius:4px;overflow:hidden;margin:0 0 14px 0;\">\n              <tr>\n                <td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;border-bottom:1px solid #e1dfdd;\">\n                  <div style=\"font-weight:800;font-size:13px;color:#201f1e;\">\n                    Visitor Name <span style=\"font-weight:400;font-size:11px;color:#605e5c;\">(Naam bezoeker)</span>\n                  </div>\n                </td>\n                <td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;border-bottom:1px solid #e1dfdd;\">\n                  <span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">\n                    @{outputs('Compose_Mapped_Data')?['VisitorName']}\n                  </span>\n                </td>\n              </tr>\n\n              <tr>\n                <td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;\">\n                  <div style=\"font-weight:800;font-size:13px;color:#201f1e;\">\n                    Visitor Email <span style=\"font-weight:400;font-size:11px;color:#605e5c;\">(E-mailadres)</span>\n                  </div>\n                </td>\n                <td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;\">\n                  <span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">\n                    @{outputs('Compose_Mapped_Data')?['VisitorEmail']}\n                  </span>\n                </td>\n              </tr>\n            </table>\n\n            <!-- HOST (compact, conditional) -->\n            @{\n              if(\n                and(\n                  empty(outputs('Compose_Mapped_Data')?['HostName']),\n                  empty(outputs('Compose_Mapped_Data')?['HostPhone'])\n                ),\n                concat(\n                  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 14px 0;\">',\n                    '<tr><td bgcolor=\"#fff4ce\" style=\"background-color:#fff4ce;border:1px solid #fde789;border-left:4px solid #fce100;padding:10px 12px;border-radius:4px;color:#5c4700;font-size:13px;line-height:18px;font-family:''Segoe UI'',Arial,sans-serif;\">',\n                      '<strong>Let op:</strong> Er zijn geen gegevens van de begeleider/host ingevuld.',\n                    '</td></tr>',\n                  '</table>'\n                ),\n                concat(\n                  '<div style=\"font-size:12px;font-weight:800;color:#19398A;text-transform:uppercase;margin:10px 0 8px 0;font-family:''Segoe UI'',Arial,sans-serif;\">Host / begeleider</div>',\n                  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:separate;border-spacing:0;border:1px solid #c8c6c4;border-radius:4px;overflow:hidden;margin:0 0 14px 0;\">',\n\n                    '<tr>',\n                      '<td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;border-bottom:1px solid #e1dfdd;\">',\n                        '<div style=\"font-weight:800;font-size:13px;color:#201f1e;\">Host Name <span style=\\\"font-weight:400;font-size:11px;color:#605e5c;\\\">(Naam host)</span></div>',\n                      '</td>',\n                      '<td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;border-bottom:1px solid #e1dfdd;\">',\n                        '<span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">',\n                          outputs('Compose_Mapped_Data')?['HostName'],\n                        '</span>',\n                      '</td>',\n                    '</tr>',\n\n                    '<tr>',\n                      '<td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;border-bottom:1px solid #e1dfdd;\">',\n                        '<div style=\"font-weight:800;font-size:13px;color:#201f1e;\">Host Email <span style=\\\"font-weight:400;font-size:11px;color:#605e5c;\\\">(E-mail host)</span></div>',\n                      '</td>',\n                      '<td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;border-bottom:1px solid #e1dfdd;\">',\n                        '<span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">',\n                          outputs('Compose_Mapped_Data')?['HostEmail'],\n                        '</span>',\n                      '</td>',\n                    '</tr>',\n\n                    '<tr>',\n                      '<td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;\">',\n                        '<div style=\"font-weight:800;font-size:13px;color:#201f1e;\">Host Phone <span style=\\\"font-weight:400;font-size:11px;color:#605e5c;\\\">(Tel. host)</span></div>',\n                      '</td>',\n                      '<td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;\">',\n                        '<span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">',\n                          if(empty(outputs('Compose_Mapped_Data')?['HostPhone']), '(Niet ingevuld)', outputs('Compose_Mapped_Data')?['HostPhone']),\n                        '</span>',\n                      '</td>',\n                    '</tr>',\n\n                  '</table>'\n                )\n              )\n            }\n\n            <!-- DETAILS (compact) -->\n            <div style=\"font-size:12px;font-weight:800;color:#19398A;text-transform:uppercase;margin:10px 0 8px 0;\">\n              Details bezoek\n            </div>\n\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                   style=\"border-collapse:separate;border-spacing:0;border:1px solid #c8c6c4;border-radius:4px;overflow:hidden;margin:0 0 12px 0;\">\n\n              <tr>\n                <td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;border-bottom:1px solid #e1dfdd;\">\n                  <div style=\"font-weight:800;font-size:13px;color:#201f1e;\">Visiting Date <span style=\"font-weight:400;font-size:11px;color:#605e5c;\">(Bezoekdatum)</span></div>\n                </td>\n                <td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;border-bottom:1px solid #e1dfdd;\">\n                  <span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">@{outputs('Compose_Mapped_Data')?['VisitDate']}</span>\n                </td>\n              </tr>\n\n              <tr>\n                <td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;border-bottom:1px solid #e1dfdd;\">\n                  <div style=\"font-weight:800;font-size:13px;color:#201f1e;\">Arrival <span style=\"font-weight:400;font-size:11px;color:#605e5c;\">(Aankomst)</span></div>\n                </td>\n                <td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;border-bottom:1px solid #e1dfdd;\">\n                  <span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">@{outputs('Compose_Mapped_Data')?['ArrivalTime']}</span>\n                </td>\n              </tr>\n\n              <tr>\n                <td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;border-bottom:1px solid #e1dfdd;\">\n                  <div style=\"font-weight:800;font-size:13px;color:#201f1e;\">Departure <span style=\"font-weight:400;font-size:11px;color:#605e5c;\">(Vertrek)</span></div>\n                </td>\n                <td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;border-bottom:1px solid #e1dfdd;\">\n                  <span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">@{outputs('Compose_Mapped_Data')?['DepartureTime']}</span>\n                </td>\n              </tr>\n\n              <tr>\n                <td width=\"40%\" valign=\"top\" style=\"padding:8px 10px;background-color:#ffffff;\">\n                  <div style=\"font-weight:800;font-size:13px;color:#201f1e;\">Location <span style=\"font-weight:400;font-size:11px;color:#605e5c;\">(Locatie)</span></div>\n                </td>\n                <td width=\"60%\" valign=\"middle\" style=\"padding:8px 10px;background-color:#faf9f8;\">\n                  <span style=\"font-family:Consolas, Monaco, monospace;font-size:13px;font-weight:800;color:#323130;\">\n                    @{outputs('Compose_Mapped_Data')?['Location']} - @{outputs('Compose_Mapped_Data')?['Reception']}\n                  </span>\n                </td>\n              </tr>\n\n            </table>\n\n          </td>\n        </tr>\n\n        <!-- FOOTER -->\n        <tr>\n          <td style=\"padding:14px 22px 18px 22px;text-align:center;font-family:'Segoe UI',Arial,sans-serif;font-size:11px;color:#605e5c;border-top:1px solid #edebe9;\">\n            <a href=\"mailto:asmlpasaanvraag@kuijpers.com\" style=\"color:#19398A;text-decoration:none;\">asmlpasaanvraag@kuijpers.com</a>\n            &nbsp;|&nbsp;\n            <a href=\"https://www.kuijpers.nl/\" style=\"color:#19398A;text-decoration:none;\">www.kuijpers.nl</a>\n          </td>\n        </tr>\n\n      </table>\n      <!-- /Main container -->\n\n    </td>\n  </tr>\n</table>\n",
          "runAfter": {
            "Compose_Mapped_Data": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ],
            "DEBUG:_Capture_raw_body_data_of_action_\"Haal_formulier_resultaten_op\"": [
              "Succeeded",
              "Skipped",
              "Failed",
              "TimedOut"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}